// Startup Application list

// ── Startup ───────────────────────────────────────────────────────────────────
spawn-at-startup "waybar"
spawn-at-startup "discord"
spawn-at-startup "brave"
spawn-at-startup "awww-daemon" "--namespace" "DP-1"

