// Startup Application list

// ── Startup ───────────────────────────────────────────────────────────────────
spawn-at-startup "waybar"
spawn-at-startup "discord"
spawn-at-startup "brave"
spawn-at-startup "spotify"
spawn-at-startup "swaybg" "-m" "fill" "-i" "/home/keith/.config/wallpapers/tokyo2.png"

