// Layout configuration
// https://niri-wm.github.io/niri/Configuration:-Layout

layout {
    gaps 8
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        // fixed 1920
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        width 1
        //active-color "#BB9AF7"
        //inactive-color "#505050"
        active-gradient from="#bb9af7" to="#a277f2" angle=45
        inactive-gradient from="#9c9c9c" to="#404040" angle=45
    }

    border {
        off
        width 1
        //active-color "#BB9AF7"
        //inactive-color "#505050"
        urgent-color "#9b0000"
        active-gradient from="#bb9af7" to="#a277f2" angle=45
        inactive-gradient from="#9c9c9c" to="#404040" angle=45
    }

    shadow {
        // on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
        // draw-behind-window true
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

environment {
    GTK_THEME "Adwaita:dark"
    QT_QPA_PLATFORMTHEME "gtk3"
}
